USE [DataB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/16/2014 10:16:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BuyerAccounts]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyerAccounts](
	[BuyerAccountID] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL,
	[BankAccount] [nvarchar](max) NULL,
	[BankAddress1] [nvarchar](max) NULL,
	[BankAddress2] [nvarchar](max) NULL,
	[BankAddress3] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Buyer_BuyerID] [int] NULL,
 CONSTRAINT [PK_dbo.BuyerAccounts] PRIMARY KEY CLUSTERED 
(
	[BuyerAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BuyerDetails]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyerDetails](
	[BuyerDetailID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[Address3] [nvarchar](max) NULL,
	[ContectNumber1] [nvarchar](max) NULL,
	[AdditionalContectNo] [nvarchar](max) NULL,
	[ContectPerson] [nvarchar](max) NULL,
	[FaxNo] [nvarchar](max) NULL,
	[EmailAddr1] [nvarchar](max) NULL,
	[EmailAddr2] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Buyer_BuyerID] [int] NULL,
 CONSTRAINT [PK_dbo.BuyerDetails] PRIMARY KEY CLUSTERED 
(
	[BuyerDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discription] [nvarchar](max) NULL,
	[BusinessType] [nvarchar](max) NULL,
	[AddressDetails1] [nvarchar](max) NULL,
	[AddressDetails2] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Buyers] PRIMARY KEY CLUSTERED 
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](max) NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[ShipVia] [int] NULL,
	[Freight] [decimal](18, 2) NULL,
	[ShipName] [nvarchar](max) NULL,
	[ShipAddress] [nvarchar](max) NULL,
	[ShipCity] [nvarchar](max) NULL,
	[ShipRegion] [nvarchar](max) NULL,
	[ShipPostalCode] [nvarchar](max) NULL,
	[ShipCountry] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductDiscription] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[ProductPicture] [varbinary](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ProductType_ProductTypeId] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](max) NULL,
	[ProductTypeDiscription] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesOrderDetails]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetails](
	[SalesOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ShipToParty] [nvarchar](max) NULL,
	[PartyOrderNumber] [nvarchar](max) NULL,
	[ReferenceOrderNumber] [nvarchar](max) NULL,
	[ReferenceOrderDate] [datetime] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[PriceMode] [nvarchar](max) NULL,
	[ReferenceParty] [nvarchar](max) NULL,
	[Saviourity] [nvarchar](max) NULL,
	[Priority] [nvarchar](max) NULL,
	[CompanyFor] [nvarchar](max) NULL,
	[SignedBy] [nvarchar](max) NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Product_ProductId] [int] NULL,
	[SalesOrder_SalesOrderId] [int] NULL,
 CONSTRAINT [PK_dbo.SalesOrderDetails] PRIMARY KEY CLUSTERED 
(
	[SalesOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesOrderProducts]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderProducts](
	[SalesOrderProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductSKU] [nvarchar](max) NULL,
	[BuyerSKU] [nvarchar](max) NULL,
	[BuyerUPC] [nvarchar](max) NULL,
	[ProductDesign] [nvarchar](max) NULL,
	[PCs] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[AreaPerPC] [decimal](18, 2) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[SalesOrder_SalesOrderId] [int] NULL,
 CONSTRAINT [PK_dbo.SalesOrderProducts] PRIMARY KEY CLUSTERED 
(
	[SalesOrderProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[SalesOrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](max) NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Buyer_BuyerID] [int] NULL,
 CONSTRAINT [PK_dbo.SalesOrders] PRIMARY KEY CLUSTERED 
(
	[SalesOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/16/2014 10:16:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[HomeTown] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[UserInfo_Id] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1539056b-f004-4e3a-9f0d-c58d69d6eb21', N'Administrator')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1b31cc1d-fd2d-4ce1-b53f-36a6cebf754d', N'ral')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'22580a88-ec7c-4298-b097-7b4435fa1ef8', N'Administrator1')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [IdentityUser_Id]) VALUES (N'e3951841-eb83-48e9-84db-9fd5bdc54647', N'22580a88-ec7c-4298-b097-7b4435fa1ef8', N'e3951841-eb83-48e9-84db-9fd5bdc54647')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [IdentityUser_Id]) VALUES (N'ef6b914d-3686-4e3d-9408-ddcf53bdd42e', N'1b31cc1d-fd2d-4ce1-b53f-36a6cebf754d', N'ef6b914d-3686-4e3d-9408-ddcf53bdd42e')
GO
SET IDENTITY_INSERT [dbo].[BuyerDetails] ON 

GO
INSERT [dbo].[BuyerDetails] ([BuyerDetailID], [Country], [City], [State], [PostalCode], [Address1], [Address2], [Address3], [ContectNumber1], [AdditionalContectNo], [ContectPerson], [FaxNo], [EmailAddr1], [EmailAddr2], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [Buyer_BuyerID]) VALUES (1, N'sfd', N'sfd', N'sdf', N'dsf', N'd', N'sfd', N'sdfs', N'sfd', NULL, N'sfd', N'dsf', N'dsf', N'sdf', N'', N'', CAST(0x0000A2D300000000 AS DateTime), CAST(0x0000A2D30105B33F AS DateTime), NULL)
GO
INSERT [dbo].[BuyerDetails] ([BuyerDetailID], [Country], [City], [State], [PostalCode], [Address1], [Address2], [Address3], [ContectNumber1], [AdditionalContectNo], [ContectPerson], [FaxNo], [EmailAddr1], [EmailAddr2], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [Buyer_BuyerID]) VALUES (2, N'sfd', N'sfd', N'sdf', N'dsf', N'd', N'sfd', N'sdfs', N'sfd', NULL, N'sfd', N'dsf', N'dsf', N'sdf', N'', N'', CAST(0x0000A2D300000000 AS DateTime), CAST(0x0000A2D30105E165 AS DateTime), NULL)
GO
INSERT [dbo].[BuyerDetails] ([BuyerDetailID], [Country], [City], [State], [PostalCode], [Address1], [Address2], [Address3], [ContectNumber1], [AdditionalContectNo], [ContectPerson], [FaxNo], [EmailAddr1], [EmailAddr2], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [Buyer_BuyerID]) VALUES (3, N'h', N'g', N'h', N'h', N'iu', N's', N's', N'g', NULL, N'h', N'h', N'h', N'h', N'', N'', CAST(0x0000A2D300000000 AS DateTime), CAST(0x0000A2D3010AEABB AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[BuyerDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Buyers] ON 

GO
INSERT [dbo].[Buyers] ([BuyerID], [Name], [Discription], [BusinessType], [AddressDetails1], [AddressDetails2], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (1, N'sddsa', N'asdasd', N'sadas', N'asdasd', N'adsadsqqqq', N'Admin', N'Admin', CAST(0x0000A2D100000000 AS DateTime), CAST(0x0000A2D10189894E AS DateTime))
GO
INSERT [dbo].[Buyers] ([BuyerID], [Name], [Discription], [BusinessType], [AddressDetails1], [AddressDetails2], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (3, N'xcvdf', N'dfds', N'sdfdsfds', N'dsfds', N'sdfdsfds', N'', N'', CAST(0x0000A2D300000000 AS DateTime), CAST(0x0000A2D300D5ACA3 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Buyers] OFF
GO
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Email], [Discriminator], [IsConfirmed], [HomeTown], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [UserInfo_Id]) VALUES (N'28cf6409-1106-40e7-9c69-2e957c43cd7e', N'hanumanji', N'AG/j6Bofa48mHmHUK1iXTg9PDucC+4lfZObq8ZReU904NZ8+SYTrB8IXdg0BPDJ8lA==', N'ea59f00a-72a2-4331-9665-a327725f6cdf', NULL, N'ApplicationUser', 0, N'jaipur', N'', N'', CAST(0x0000A2D300000000 AS DateTime), CAST(0x0000A2D30000A56B AS DateTime), NULL)
GO
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Email], [Discriminator], [IsConfirmed], [HomeTown], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [UserInfo_Id]) VALUES (N'55d7921f-2613-4679-82e2-2420834cea29', N'hanumanji1', N'ACYBmf+RewNnVmYKpTkAFab58hUwo8KJWBDT2InhRbFni56AQ6BP37GguGD/S3JaNg==', N'd857eedf-bba0-4b69-b106-04dee21ae0ff', NULL, N'ApplicationUser', 0, N'jaipur', N'', N'', CAST(0x0000A2D300000000 AS DateTime), CAST(0x0000A2D30001BBFF AS DateTime), NULL)
GO
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Email], [Discriminator], [IsConfirmed], [HomeTown], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [UserInfo_Id]) VALUES (N'e3951841-eb83-48e9-84db-9fd5bdc54647', N'ramji', N'AEUUltvcpHsCKKxZQ+KSo2ZvAgjxPQc/Gp/HjpTeukgDgt3KZqMr2Mo4tb1vLXq1MQ==', N'fd7460a7-9e24-44d6-a838-62298444d7cb', NULL, N'ApplicationUser', 0, N'jaipurgw', N'', N'', CAST(0x0000A2D200000000 AS DateTime), CAST(0x0000A2D20180F673 AS DateTime), NULL)
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.Users_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.Users_IdentityUser_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.Users_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.Users_IdentityUser_Id]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.Users_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.Users_IdentityUser_Id]
GO
ALTER TABLE [dbo].[BuyerAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyerAccounts_dbo.Buyers_Buyer_BuyerID] FOREIGN KEY([Buyer_BuyerID])
REFERENCES [dbo].[Buyers] ([BuyerID])
GO
ALTER TABLE [dbo].[BuyerAccounts] CHECK CONSTRAINT [FK_dbo.BuyerAccounts_dbo.Buyers_Buyer_BuyerID]
GO
ALTER TABLE [dbo].[BuyerDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BuyerDetails_dbo.Buyers_Buyer_BuyerID] FOREIGN KEY([Buyer_BuyerID])
REFERENCES [dbo].[Buyers] ([BuyerID])
GO
ALTER TABLE [dbo].[BuyerDetails] CHECK CONSTRAINT [FK_dbo.BuyerDetails_dbo.Buyers_Buyer_BuyerID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductTypes_ProductType_ProductTypeId] FOREIGN KEY([ProductType_ProductTypeId])
REFERENCES [dbo].[ProductTypes] ([ProductTypeId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductTypes_ProductType_ProductTypeId]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOrderDetails_dbo.Products_Product_ProductId] FOREIGN KEY([Product_ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [FK_dbo.SalesOrderDetails_dbo.Products_Product_ProductId]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOrderDetails_dbo.SalesOrders_SalesOrder_SalesOrderId] FOREIGN KEY([SalesOrder_SalesOrderId])
REFERENCES [dbo].[SalesOrders] ([SalesOrderId])
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [FK_dbo.SalesOrderDetails_dbo.SalesOrders_SalesOrder_SalesOrderId]
GO
ALTER TABLE [dbo].[SalesOrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOrderProducts_dbo.SalesOrders_SalesOrder_SalesOrderId] FOREIGN KEY([SalesOrder_SalesOrderId])
REFERENCES [dbo].[SalesOrders] ([SalesOrderId])
GO
ALTER TABLE [dbo].[SalesOrderProducts] CHECK CONSTRAINT [FK_dbo.SalesOrderProducts_dbo.SalesOrders_SalesOrder_SalesOrderId]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOrders_dbo.Buyers_Buyer_BuyerID] FOREIGN KEY([Buyer_BuyerID])
REFERENCES [dbo].[Buyers] ([BuyerID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_dbo.SalesOrders_dbo.Buyers_Buyer_BuyerID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.UserInfoes_UserInfo_Id] FOREIGN KEY([UserInfo_Id])
REFERENCES [dbo].[UserInfoes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.UserInfoes_UserInfo_Id]
GO
